@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

// https://google-webfonts-helper.herokuapp.com/fonts/manrope?subsets=latin
// @font-face {
//   font-family: 'Manrope';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/fonts/manrope-400.woff2') format('woff2');
// }

// /* manrope-600 - latin */
// @font-face {
//   font-family: 'Manrope';
//   font-style: normal;
//   font-weight: 600;
//   src: url('/fonts/manrope-600.woff2') format('woff2');
// }

// https://google-webfonts-helper.herokuapp.com/fonts/ibm-plex-mono?subsets=latin
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ibm-plex-mono-400.woff2') format('woff2')
}
