.footer {
  color: var(--docs-footer-text);
  background-color: var(--docs-footer-bg);
}

.footer a {
  color: var(--docs-footer-link);
  text-decoration: none;
}

.footer a:focus,
.footer a:hover {
  color: var(--docs-footer-link-accent);
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-columns > * {
  flex: 1 1 100%;
  margin-bottom: var(--docs-space-m);
}

.footer-columns h4,
.footer-columns h5,
.footer-columns h6 {
  margin: var(--docs-space-m) 0;
  font-weight: var(--docs-font-weight-semibold);
}

.footer-columns ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-columns ul li {
  padding: var(--docs-space-xs) 0;
}

@media (min-width: 576px) {
  .footer-columns > * {
    flex: 1;
  }
  .footer-columns > * + * {
    margin-left: var(--docs-space-m);
  }
}
