*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important;
  }
}

html {
  font-family: var(--docs-font-family-base);
  font-weight: var(--docs-font-weight-normal);
  font-size: var(--docs-font-size-base);
}

body {
  line-height: 1.6;
  font-size: var(--docs-font-size-base);
  font-weight: var(--docs-font-weight-body);
  color: var(--docs-body-text);
  background-color: var(--docs-body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--docs-font-family-monospace);
  border-radius: var(--docs-border-radius);
  padding: var(--docs-space-xs);
  color: var(--docs-code-text);
  background-color: var(--docs-code-bg);
}

pre {
  font-family: var(--docs-font-family-monospace);
  border-radius: var(--docs-border-radius);
  padding: var(--docs-space-m);
  color: var(--docs-pre-text);
  background-color: var(--docs-pre-bg);
}

pre code {
  color: var(--docs-white);
  background: transparent;
}

a {
  color: var(--docs-body-link);
}

a:focus,
a:hover {
  color: var(--docs-body-link-accent);
}

.theme-switch {
  --docs-theme-switch-light: var(--docs-white);
  --docs-theme-switch-dark: var(--docs-neutral-900);
  --docs-theme-switch-icon-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--docs-white);
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 0;
}

.theme-switch svg {
  height: var(--docs-theme-switch-icon-size);
  width: var(--docs-theme-switch-icon-size);
}

.theme-switch path {
  stroke-width: .5px;
  fill: none;
}

.theme-switch:hover .theme-switch-light,
.theme-switch:focus .theme-switch-light {
  fill: var(--docs-theme-switch-light);
}

.theme-switch:hover .theme-switch-dark,
.theme-switch:focus .theme-switch-dark {
  fill: var(--docs-theme-switch-dark);
}

.theme-switch-dark {
  display: inline-block;
  stroke: var(--docs-theme-switch-dark);
}

:root[data-theme="dark"] .theme-switch-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="dark"]) .theme-switch-dark {
    display: inline-block;
  }
}

.theme-switch-light {
  display: none;
  stroke: var(--docs-theme-switch-light);
}

:root[data-theme="dark"] .theme-switch-light {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .theme-switch-light {
    display: inline-block;
  }
}

.footer {
  color: var(--docs-footer-text);
  background-color: var(--docs-footer-bg);
}

.footer a {
  color: var(--docs-footer-link);
  text-decoration: none;
}

.footer a:focus,
.footer a:hover {
  color: var(--docs-footer-link-accent);
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-columns > * {
  flex: 1 1 100%;
  margin-bottom: var(--docs-space-m);
}

.footer-columns h4,
.footer-columns h5,
.footer-columns h6 {
  margin: var(--docs-space-m) 0;
  font-weight: var(--docs-font-weight-bold);
}

.footer-columns ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-columns ul li {
  padding: var(--docs-space-xs) 0;
}

@media (min-width: 576px) {
  .footer-columns > * {
    flex: 1;
  }
  .footer-columns > * + * {
    margin-left: var(--docs-space-m);
  }
}
