// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/core/lib/client/style/config.styl

// colors
$accentColor = #0F31F7
$textColor ?= #606060
$borderColor ?= #BFBFBF
$codeBgColor = #414862

// layout
$navbarHeight = 3.7rem
$sidebarWidth ?= 280px
$contentWidth ?= 740px
$homePageWidth ?= 960px

// responsive breakpoints
$MQNarrow = 999px
$MQMobile = 899px
$MQMobileNarrow = 419px
